body {
    background-image: url("https://abootlander.files.wordpress.com/2015/06/atic_digital.gif?w=644")
}

a {
    text-decoration: none;
    color: #46DBD4;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

#Logo {
    text-align: center;
    margin: 0;
    color: #46DBD4;
}
header {
    background: #B546DB;
}

nav a, nav a:visited{
    color:white;
}

nav a.Taco,nav a:hover{
    color: crimson;
}

h1,h2{
    font-family: 'Anonymous Pro' ;
}

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: darkcyan;
}

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: lightgray;
}

img {
  max-width: 100%;    
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: black;
}

header{
    float: left;
    margin: 0 0 30px 0;    
    padding: 5px 0 0 0;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block; 
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

.Media {
    width: 40px;
    height: 40px;
}

.profile {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}

h3 {
    margin: 0 0 1em 0;
}

.Stuff {
    background: cadetblue;
}

.Burrito {
    background: darkorange;
}

.contact-info li.email a {
    background-image: url('../Img/email.png');
    
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.Hi {
    color: white;
} 